<form action="/" method="post">
  <!--implement the object-related form for an album	-->
  	  <label for="name">Album:</label>
 	  <input name="album[name]" type="text" id="name" placeholder="Album"/>
 	  <label for="artist">Artist:</label>
 	  <input name="album[artist]" type="text" id="name" placeholder="Artist"/>
 	  <label for="year">Year:</label>
 	  <input name="album[year]" type="text" id="year" placeholder="Year"/>
 	  <input type="submit" value="create" />
</form>
<a href=/>Back to jukebox list</a>
